#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}



.outerlayer{
  background-color: whitesmoke;
  height:600px;
  border:1px solid grey;
  padding-left: 40px;
  width: 350px;
  color: black;
  display: flex;
  flex-flow: column;
 align-items: flex-start;
 border-radius: 20px;
 position: relative;
}
.homepage{
  background-color: whitesmoke;
  height:300px ;
  border:1px solid grey;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
 justify-content: flex-start;
 border-radius: 20px;
}
.homepage h1{
font-size: 2.5rem;
color: #4CAF50;
margin-bottom: 20px;

}
.homepage p{
font-size: 1.1rem;
color: #555;
margin-bottom: 30px;

}
.homepage .icon {
  font-size: 50px;
  color: #4CAF50;
  margin-bottom: 20px;
}
.homepage button{
border: none;
padding: 12px 5px;
font-size: 1.1rem;
cursor: pointer;
transition: background-color 0.3s ease;

}
.homepage button:hover{
  transform: scale(1.02);
}
.homepage button:active{
  transform: scale(0.98);
}



.heading{
margin-bottom: 0;
}


.form{
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}
.resetform{
  display: flex;
  flex-direction: column;
align-items: center;
}
.resetform span::before{
  content: "• ";
  color: rgb(19, 138, 19);
  font-size: 1rem;
  text-align: center;
}
.resetform span{
  font-size: small;
  color: gray
}


.forminput{
  width: 300px;
  height: 40px;
  background-color: white;
    border: 1px solid grey;
    padding: 4px;
    font-size: 1rem;
    border-radius: 10px;
    color: black;
    outline: none;
}

.formerrorinput{
  width: 300px;
  height: 40px;
  background-color: white;
    border: 1px solid red;
    padding: 4px;
    font-size: 1rem;
    border-radius: 10px;
    color: black;
    outline: none;
}

.outerlayer a{
  margin-top: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.formerrorinput:focus{
  box-shadow:0 0 5px rgba(255, 0, 0, 0.4);
  ;
}

.forminput:focus{
box-shadow: 0 2px 5px rgba(0, 123, 255, 0.5);
}
.forminput:focus::placeholder{
opacity: 0;
}
.outerlayer a:hover{
  color: rgb(87, 71, 227);
 transform: scale(1.01);
}
.outerlayer a:active{
  color: rgb(87, 71, 227);
 transform: scale(0.99);
}
.forgetpassworddiv{
  background-color: whitesmoke;
  height:400px;
  border:1px solid grey;
  padding-left: 40px;
  width: 350px;
  color: black;
  display: flex;
  flex-flow: column;
 align-items: flex-start;
 justify-content: center;

}
.resetpassworddiv{
  background-color: whitesmoke;
  height:400px;
  border:1px solid grey;
  padding: 2px;
  padding-right: 4px;
  width: 400px;
  color: black;
  display: flex;
  flex-flow: column;
align-items: center;

 border-radius: 20px;
}
.resetpassworddiv h1{
  align-self: center;
}

.forgetpassworddiv h1{
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.forgetpassworddiv input ,.resetpassworddiv input{
 margin-bottom: 20px;
}

.forgetpassworddiv button ,.resetpassworddiv button{
 border: 1px solid grey;
 width: 300px;
 height: 40px;
 margin-top: 15px;
 margin-bottom: 15px;
border-top-left-radius: 18px;
border-top-right-radius: 18px;
border-bottom-left-radius: 18px;
border-bottom-right-radius: 18px;

font-size: 1.15rem;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.3s ease-in-out; 
}
.forgetpassworddiv button:hover ,.resetpassworddiv button:hover{
 transform: scale(1.02);
}
.forgetpassworddiv button:active,.resetpassworddiv button:active{
 transform: scale(0.98);
}

.outerlayer div,.outerlayer button{
  border: 1px solid grey;
  width: 300px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
 border-top-left-radius: 18px;
 border-top-right-radius: 18px;
 border-bottom-left-radius: 18px;
 border-bottom-right-radius: 18px;
 
font-size: 1.15rem;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.3s ease-in-out; 
}
.outerlayer button:hover{
transform: scale(1.02);
}
.outerlayer button:active{
transform: scale(0.98);
}
.differencecreater{
position: absolute;
bottom: 195px;
left: 180px;
}
.differencecreatersignup{
position: absolute;
bottom: 235px;
left: 180px;
}
.signuptext{
  position: absolute;
bottom: 95px;
left: 100px;
font-size: 1.15rem;
}
.signuptextsignup{
  position: absolute;
bottom: 135px;
left: 95px;
font-size: 1.15rem;
}




